[api]
log_level=CRITICAL
user={{ monitoring_user }}
password={{ monitoring_pass }}
tenant={{ monitoring_tenant }}
keystone_endpoints=http://172.25.4.7:5000/v2.0
nova_os_map=v2/%(tenant_id)s/flavors
glance_map=v1/images
keystone_service_map=v2.0/tenants
keystone_map=v2.0/tenants
cinder_map=v1/%(tenant_id)s/volumes
neutron_map=
nova_os_timeout={{ monitoring_nova_os_timeout }}
glance_timeout={{ monitoring_glance_timeout }}
keystone_service_timeout={{ monitoring_keystone_timeout }}
keystone_timeout={{ monitoring_keystone_timeout }}
cinder_timeout={{ monitoring_cinder_timeout }}
neutron_timeout={{ monitoring_neutron_timeout }}
