[rabbitmq]
log_level=INFO
user=guest
password={{ rabbitmq_pass }}
host=http://localhost:15672
#OpenStack queues, Y - number of service types, N - count of *this* service, max_queues=Y*(2*N+1)
max_queues=128
