#UserParameter=nova.api.status, /etc/zabbix/zabbix_custom_scripts/check_api.py nova_os http {{ hostvars[inventory_hostname]['ansible_bond0.10']['ipv4']['address'] }} 8774
UserParameter=keystone.api.status, /etc/zabbix/zabbix_custom_scripts/check_api.py keystone http {{ hostvars[inventory_hostname]['ansible_bond0.10']['ipv4']['address'] }} 5000
UserParameter=keystone.service.api.status, /etc/zabbix/zabbix_custom_scripts/check_api.py keystone_service http {{ hostvars[inventory_hostname]['ansible_bond0.10']['ipv4']['address'] }} 5000
#UserParameter=cinder.api.status, /etc/zabbix/zabbix_custom_scripts/check_api.py cinder http {{ hostvars[inventory_hostname]['ansible_bond0.10']['ipv4']['address'] }} 8776
#UserParameter=neutron.api.status, /etc/zabbix/zabbix_custom_scripts/check_api.py neutron http {{ hostvars[inventory_hostname]['ansible_bond0.10']['ipv4']['address'] }} 9696
#UserParameter=glance.api.status, /etc/zabbix/zabbix_custom_scripts/check_api.py glance http {{ hostvars[inventory_hostname]['ansible_bond0.10']['ipv4']['address'] }} 9292

UserParameter=nova.api.status, /etc/zabbix/zabbix_custom_scripts/check_api.sh nova
UserParameter=cinder.api.status, /etc/zabbix/zabbix_custom_scripts/check_api.sh cinder
UserParameter=neutron.api.status, /etc/zabbix/zabbix_custom_scripts/check_api.sh neutron 
UserParameter=glance.api.status, /etc/zabbix/zabbix_custom_scripts/check_api.sh glance
UserParameter=heat.api.status, /etc/zabbix/zabbix_custom_scripts/check_api.sh heat
